@import "https://fonts.googleapis.com/css?family=Roboto:100,200, 300,400,500,600,700,900";
@import "https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,600,700,900";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins";
  font-size: 14px;
  color: #838088;
  background: white;
  max-width: 100vw;
  min-height: 100vh;
}

.container {
  margin: 20px 15px 20px 15px;
}

@media only screen and (min-width: 720px) {
  .container {
    margin: 40px 60px 40px 60px;
  }
}

.logo {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 15px;
}

@media only screen and (min-width: 720px) {
  .logo {
    width: 20%;
    margin-left: unset;
    margin-right: unset;
  }
}

.logo-img {
  margin-bottom: 0px;
}

@media only screen and (min-width: 720px) {
  .logo-img {
    margin-bottom: 30px;
  }
}

/* nav */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0px 8px 0px;
  border-top: #dbdbdb solid 1px;
  border-bottom: #dbdbdb solid 1px;
  margin-bottom: 25px;
}

.link {
  color: black;
  text-decoration: none;
  font-size: 12px;
  padding-right: 10px;
  width: 100%;
  font-weight: 500;
}

@media only screen and (min-width: 720px) {
  .link {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1140px) {
  .link {
    font-size: 16px;
    padding-right: 10px;
    font-weight: 400;
  }
}

@media only screen and (min-width: 1300px) {
  .link {
    padding-right: 40px;
  }
}

.fas.fa-search {
  color: black;
}

@media only screen and (min-width: 1140px) {
  .fas.fa-search {
    color: black;
    font-size: 16px;
  }
}

/* left and right column */
.article {
  padding: 40px 15px 40px 15px;
  border: #dbdbdb solid 1px;
}
@media only screen and (min-width: 1320px) {
  .article {
    padding: 40px 30px 40px 30px;
  }
}

.article-title {
  font-weight: 500;
  padding-bottom: 10px;
}

.article-subtitle {
  font-family: "roboto";
  font-weight: 300;
  font-size: 14px;
  padding-bottom: 12px;
}

h1,
h3 {
  color: black;
  font-family: "roboto";
  font-weight: 400;
}

p {
  font-size: 12px;
}

.author-container {
  font-size: 10px;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author-left-container {
  display: flex;
  align-items: center;
}

span {
  color: black;
}

.author-image {
  border-radius: 100%;
  height: 25px;
}

.info {
  padding-left: 8px;
}

.icons {
  display: flex;
  align-items: center;
}

.heart {
  padding-left: 2px;
  display: flex;
  color: black;
  align-items: baseline;
}

.n-hearts {
  padding-left: 4px;
}

.comment {
  display: flex;
  color: black;
  align-items: baseline;
  padding-left: 4px;
}

.n-comments {
  padding-left: 4px;
}

.article-image {
  width: 100%;
}

.h3-title {
  font-size: 22px;
  padding: 20px 0px 20px 0px;
}

.quote-container {
  padding: 30px 40px 30px 40px;
  display: flex;
}

@media only screen and (min-width: 1140px) {
  .quote-container {
    margin: 20px 120px 0px 120px;
    display: flex;
  }
}

.quote {
  font-family: "roboto";
  font-style: italic;
  color: black;
  text-align: center;
}

.fas.fa-quote-left {
  color: #dbdbdb;
}

.fas.fa-quote-right {
  display: flex;
  flex-direction: column-reverse;
  color: #dbdbdb;
}

.author-box {
  align-items: center;
  font-size: 10px;
  color: #bababa;
  background-color: #f0f0f0;
  border: #dbdbdb solid 1px;
  margin-top: 20px;
  padding: 15px;
}

@media only screen and (min-width: 720px) {
  .author-box {
    display: flex;
  }
}

.author-box-image {
  padding-bottom: 8px;
  text-align: center;
}

.author-name {
  color: black;
  text-align: center;
}

@media only screen and (min-width: 720px) {
  .author-name {
    padding-left: 20px;
    text-align: left;
  }
}

.info-author {
  color: #474747;
  text-align: center;
  padding-top: 4px;
}

@media only screen and (min-width: 720px) {
  .info-author {
    padding-left: 20px;
    text-align: left;
  }
}

.image2 {
  border-radius: 100%;
  height: 50px;
}

.following-section {
  margin: 30px 0px 50px 0px;
  border: #dbdbdb solid 1px;
  padding: 15px 0px 30px 0px;
  color: black;
}

.thumbsup-section {
  display: flex;
  align-items: baseline;
  color: black;
  border-bottom: #dbdbdb solid 1px;
  margin-bottom: 30px;
  padding: 0px 15px 0px 15px;
}

.like {
  padding-left: 8px;
  font-weight: 500;
  color: black;
  padding: 0px 15px 15px 15px;
}

.images-section {
  text-align: center;
  justify-content: space-around;
}

@media only screen and (min-width: 720px) {
  .images-section {
    display: flex;
    text-align: center;
    justify-content: space-around;
  }
}

.image {
  padding: 0px 15px 15px 15px;
}

/* right column with tag and social sections */

.tags-container {
  padding: 6px 30px 30px 30px;
  color: black;
  font-size: 16px;
  font-family: "poppins";
  border: #dbdbdb solid 1px;
  max-width: 100%;
  margin-bottom: 30px;
  align-items: baseline;
  margin-top: 30px;
}

.tag-title {
  display: flex;
  align-items: baseline;
  margin: 30px 0px 30px 0px;
  border-bottom: #0c65af solid 1.5px;
  width: 66px !important;
}

.tag {
  display: flex;
  padding-left: 8px;
  font-weight: 500;
  width: 50px;
  padding-left: 8px;
  margin-bottom: 8px;
}

.all-tags {
  display: flex;
  flex-wrap: wrap;
}

.tags {
  padding: 6px 11px 6px 11px;
  border: #dbdbdb solid 1px;
  color: #bababa;
  font-size: 10px;
  margin-right: 4px;
  margin-bottom: 4px;
}

.social {
  padding: 6px 30px 30px 30px;
  border: #dbdbdb solid 1px;
  color: #bababa;
  font-size: 10px;
  margin-right: 4px;
}

.thumbs-up-icon {
  display: flex;
  align-items: baseline;
  font-size: 16px;
  color: black;
  margin: 30px 0px 30px 0px;
  width: 133.07px !important;
  border-bottom: #0c65af solid 1.5px;
}

.social-title {
  padding-left: 8px;
  max-width: 200px;
  color: black;
  font-family: "poppins";
  font-weight: 500;
}

@media only screen and (min-width: 720px) {
  .social-follow {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
}

.facebook {
  display: flex;
  align-items: center;
  padding: 20px 40px 20px 10px;
  border: #4560a8 solid 1px;
  background-color: #4560a8;
  color: white;
  height: 60px !important;
  margin-bottom: 8px;
  margin-right: 10px;
}

@media only screen and (min-width: 720px) {
  .facebook {
    width: 48%;
    margin-right: 0;
  }
}

.fab.fa-facebook {
  font-size: 25px;
  background-color: #4560a8;
}

.fb-text {
  padding-left: 8px;
}

.twitter {
  display: flex;
  align-items: center;
  padding: 20px 40px 20px 10px;
  border: #44c2f6 solid 1px;
  background-color: #44c2f6;
  color: white;
  height: 60px !important;
  margin-bottom: 8px;
  margin-right: 10px;
}

@media only screen and (min-width: 720px) {
  .twitter {
    width: 48%;
    margin-right: 0;
  }
}

.fab.fa-twitter {
  font-size: 25px;
  background-color: #44c2f6;
}

.twitter-text {
  padding-left: 8px;
}

.pinterest {
  display: flex;
  align-items: center;
  padding: 20px 40px 20px 10px;
  border: #a8000c solid 1px;
  background-color: #a8000c;
  color: white;
  max-height: 60px !important;
  margin-bottom: 8px;
  margin-right: 10px;
}

@media only screen and (min-width: 720px) {
  .pinterest {
    width: 48%;
    margin-right: 0;
  }
}

.fab.fa-pinterest {
  font-size: 25px;
  background-color: #a8000c;
}

.pinterest-text {
  padding-left: 8px;
}

.tumblr {
  display: flex;
  align-items: center;
  padding: 20px 40px 20px 10px;
  border: #29354a solid 1px;
  background-color: #29354a;
  color: white;
  max-height: 60px !important;
  margin-bottom: 8px;
  margin-right: 10px;
}

@media only screen and (min-width: 720px) {
  .tumblr {
    width: 48%;
    margin-right: 0;
  }
}

.fab.fa-tumblr {
  font-size: 25px;
  background-color: #29354a;
}

.tumblr-text {
  padding-left: 8px;
}

/* footer */
.footer {
  background-color: #17181b;
  align-items: center;
  padding: 40px 60px 40px 60px;
}

.footer-text {
  color: white;
  padding-bottom: 6px;
}

.line {
  border-bottom: white solid 2px;
  width: 40px;
}

.layout {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 720px) {
  .layout {
    flex-direction: row;
  }

  .left-column {
    flex: 1.6;
  }

  .right-column {
    flex: 1;
    margin-left: 30px;
  }

  .tags-container {
    margin-top: 0;
  }

  .social-row {
    display: flex;
    justify-content: space-between;
  }
}
